@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: #ffffff;
  --color-pink: #eb6bd8;
  --color-accent: #f27220;
  --color-textPrimary: #1d1f25;
  --color-blue: #66b6c2;
  --color-bgPrimary: #ffffff;
  --color-bgSecondary: #f4f4f4;
  --color-inactive: #b0b0b0;
}

@layer base {
  @variant dark {
    --color-pink: #8e0d7a;
    --color-textPrimary: #ffffff;
    --color-textSecondary: #66b6c2;
    --color-bgPrimary: #1d1f25;
    --color-bgSecondary: #2e323c;
    --color-inactive: #707070;
  }
}

/* Light Mode
@layer base {
  :root {
    --background-primary: #ffffff;
    --background-secondary: #f4f4f4;
    --accent-color: #f27220;
    --text-primary: #1d1f25;
    --text-secondary: #66b6c2;
    --button-text: #ffffff;
    --inactive-disabled: #b0b0b0;
  }
}

/* Dark Mode */
/* @media (prefers-color-scheme: dark) {
  @layer base {
    :root {
      --background-primary: #1d1f25;
      --background-secondary: #2e323c;
      --accent-color: #f27220;
      --text-primary: #ffffff;
      --text-secondary: #66b6c2;
      --button-text: #ffffff;
      --inactive-disabled: #707070;
    }
  }
} */
body {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

/* button {
  color: var(--button-text);
  background-color: var(--accent-color);
}

.secondary-text {
  color: var(--text-secondary);
}

.inactive {
  color: var(--inactive-disabled);
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */
